<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="StaffConnection" value="data source=SUNUCU;initial catalog=VERİTABANI;user id=KULLANICI;password=ŞİFRE;MultipleActiveResultSets=True;App=EntityFramework" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="owin:AutomaticAppStartup" value="false" />
</appSettings>