@{
    ViewBag.Title = "Dashboard - Department";
    ViewBag.Description = "Dashboard Statics";
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.selectedPage = 1;
}
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@((double)ViewBag.DepartmentCount > 999 ? (((int)ViewBag.DepartmentCount) / 1000)+"K" : ViewBag.DepartmentCount)</h3>
                    <p>Department</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-secret"></i>
                </div>
                <a href="~/department-list" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@((double)ViewBag.StaffCount > 999 ? (((int)ViewBag.StaffCount) / 1000)+"K" : ViewBag.StaffCount)</h3>
                    <p>Staff</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="~/staff-list" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>